@charset "UTF-8";
main div {
	text-align: center;
	flex-grow: 1;
}
* {
            margin: 0;
            padding: 0;
        }

        .container {
            width: 1200px;
            margin: 0 auto;
        }

        table {
            margin-top: 30px;
            width: 1000px;
            border-spacing: 0;
            border-collapse: collapse;
            margin: 0 auto;
        }

        .title {
            border-bottom: 2px solid #4c4c4c;
            margin-bottom: 50px;
            height: 50px;
            display: block;
            margin: 0 auto;
            color: black;
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 50px;
            margin-top:50px;
            text-align: left;
            width: 1000px;
        }

        
        .link{
            display: inline-block;
            height: 40px;
            width: 80px;
            border-radius: 5px;
            background-color: #006f00;
            color: #fff;
            line-height: 40px;
            text-align: center;
            margin-top: 30px;
            margin-right:10px;
            text-decoration: none;
            font-weight: 600;
            font-size: 14px;
        }
        .link_div{
        	width: 1000px;
        	margin: 0 auto;
        	display: flex;
        }
        .link:active{
        	border: 1px solid #fff; 
        	background-color: #359F35;
        }
        .link:hover{
        	opacity: 0.8;
        }
        th,
        td {
            text-align: center;
        }
		th{
			background-color: #BCDDBC;
			height: 50px;
			width: 10%;	
		}
        td {
            height: 30px;
            width: 90%;
            border-collapse: collapse;
            border: 1px solid #d9d9d9;
            text-align: left;
            padding-left: 5px;
        }
        tr:nth-child(5) > tr, tr:nth-child(5) > th {
			height: 200px;
		}