<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="kr.co.vida.qna">
  	<select id="selectList" resultType="qbdto" parameterType="int">
  		SELECT qna_no, qna_title, qna_category, TO_CHAR(qna_date, 'YYYY/MM/DD') qna_date, qna_status, qna_answer
  		FROM qna_board
  		WHERE crew_no = #{crew_no}
  		ORDER BY qna_no DESC 
  	</select>
  	<select id="selectAll" resultType="qbdto">
  		SELECT qna_no, qna_title, qna_category, TO_CHAR(qna_date, 'YYYY/MM/DD') qna_date, qna_status
  		FROM qna_board
  		ORDER BY qna_no DESC 
  	</select>
  	<insert id="insertOne" parameterType="qbdto">
  		INSERT INTO qna_board
  		VALUES (#{crew_no}, qna_no_seq.nextval, #{qna_category}, #{qna_title}, sysdate, #{qna_content},null,0)
  	</insert>
  	<select id="selectOne" parameterType="int" resultType="qbdto">
  		SELECT qna_no, qna_title, qna_category, TO_CHAR(qna_date, 'YYYY/MM/DD') qna_date, qna_category, qna_content, qna_answer
  		FROM qna_board
  		WHERE qna_no = #{qna_no}
  	</select>
  	<update id="updateOne" parameterType="qbdto">
  		UPDATE qna_board
  		SET qna_category = #{qna_category}, qna_title=#{qna_title}, qna_content = #{qna_content}
  		WHERE qna_no = #{qna_no}
  	</update>
  	<delete id="deleteOne" parameterType="int">
  		DELETE qna_board
  		WHERE qna_no = #{qna_no}
  	</delete>
  	<update id="updateAnswer" parameterType="qbdto">
  		UPDATE qna_board
  		SET qna_answer = #{qna_answer}, qna_status=#{qna_status}
  		WHERE qna_no = #{qna_no}
  	</update>
  </mapper>